fastapi==0.115.4
uvicorn==0.32.0
pymongo==4.9.0
python-dotenv==1.0.1
dnspython==2.7.0
apscheduler==3.10.4
python-jose==3.3.0
passlib==1.7.4
pydantic==2.10.1
email-validator==2.2.0
requests==2.32.3
pytz==2024.2
openai==0.28.1